* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: fonters;
    src: url(../fonts/PokemonHollowNormal-pyPZ.ttf);
}

@font-face {
    font-family: pokes;
    src: url("../fonts/PocketMonk.otf") format("opentype");
}

body {
    height: 100vh; 
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient( 109.6deg,  rgba(245,56,56,1) 11.2%, rgba(234,192,117,1) 78% );
}

span {
    font-size: 4vw;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: pokes;
}

.button-text {
    font-size: 2vw;
    font-family: pokes;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4vw;
}

#main-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    padding: 3%;
    height: 35vw;
    width: 100vw;
    margin: 0 auto;
    overflow-y: scroll;
    text-transform: capitalize;
}

.pokemon-data {
    position: relative;
    display: grid;
    place-items: center;
    font-family: fonters;
    height: 10vw;
    margin: 1vw;
    font-size: 1vw;
    width: 15vw;
    transition: background-position 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

#button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#pokeButton {
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
    transition: transform .7s ease-in-out;
}

#pokeButton img {
    width: 5vw;
    height: 5vw;
}

.poke-button {
    animation: spin 1s linear infinite;
}

@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.pokemon-data:hover.type-normal {
    background-color: rgba(168, 167, 122, 0.5);
}
  
.pokemon-data:hover.type-fire {
    background-color: rgba(238, 129, 48, 0.5);
}
  
.pokemon-data:hover.type-water {
    background-color: rgba(99, 144, 240, 0.5);
}
  
.pokemon-data:hover.type-electric {
    background-color: rgba(247, 208, 44, 0.5);
}
  
.pokemon-data:hover.type-grass {
    background-color: rgba(122, 199, 76, 0.5);
}
  
.pokemon-data:hover.type-ice {
    background-color: rgba(150, 217, 214, 0.5);
}
  
.pokemon-data:hover.type-fighting {
    background-color: rgba(192, 48, 40, 0.5);
}
  
.pokemon-data:hover.type-poison {
    background-color: rgba(160, 64, 160, 0.5);
}
  
.pokemon-data:hover.type-ground {
    background-color: rgba(224, 192, 104, 0.5);
}
  
.pokemon-data:hover.type-flying {
    background-color: rgba(240, 144, 176, 0.5);
}
  
.pokemon-data:hover.type-psychic {
    background-color: rgba(248, 88, 136, 0.5);
}
  
.pokemon-data:hover.type-bug {
    background-color: rgba(168, 184, 32, 0.5);
}
  
.pokemon-data:hover.type-rock {
    background-color: rgba(184, 160, 56, 0.5);
}
  
.pokemon-data:hover.type-ghost {
    background-color: rgba(112, 88, 152, 0.5);
}
  
.pokemon-data:hover.type-dragon {
    background-color: rgba(112, 56, 248, 0.5);
}
  
.pokemon-data:hover.type-dark {
    background-color: rgba(112, 88, 72, 0.5);
}
  
.pokemon-data:hover.type-steel {
    background-color: rgba(184, 184, 208, 0.5);
}
  
.pokemon-data:hover.type-fairy {
    background-color: rgba(238, 153, 172, 0.5);
}
  


