@-webkit-keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: fonters;
  src: url(../fonts/PokemonHollowNormal-pyPZ.ttf);
}
@font-face {
  font-family: pokes;
  src: url("../fonts/PocketMonk.otf") format("opentype");
}
body {
  height: 100vh;
  overflow: hidden;
  display: grid;
  align-content: space-evenly;
  background-image: linear-gradient(109.6deg, rgb(245, 56, 56) 11.2%, rgb(234, 192, 117) 78%);
}

span {
  font-size: 3vw;
  margin: 0.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: pokes;
}

.button-text {
  font-size: 1.5vw;
  font-family: pokes;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3.5vw;
}

/* Firefox scrollbar styles */
* {
  scrollbar-width: thin;
  scrollbar-color: #babac0 inherit;
}

*::-moz-scrollbar-thumb {
  background-color: #babac0;
  border-radius: 1rem;
}

*::-moz-scrollbar-track {
  background-color: inherit;
}

#main-container {
  display: grid;
  grid-template-areas: "1 2 poke-not-found-container 3 4";
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  max-height: 28vw;
  max-width: 80vw;
  margin: 0 auto;
  overflow-y: scroll;
  text-transform: capitalize;
  justify-content: center;
  align-items: center;
}
#main-container::-webkit-scrollbar {
  background-color: inherit;
  width: 8px;
}
#main-container::-webkit-scrollbar-track {
  background-color: inherit;
}
#main-container::-webkit-scrollbar-thumb {
  background-color: #babac0;
  border-radius: 1rem;
}
#main-container .pokemon-data {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-family: pokes;
  margin: 1vw;
  font-size: 0.8vw;
  transition: all 0.2s ease-in-out;
  height: 8vw;
  grid-column: span 1;
  grid-row: span 1;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
}
#main-container .pokemon-data:hover {
  transform: scale(1.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
#main-container .pokemon-image {
  max-width: 20rem;
  height: 6vw;
  transition: transform 0.2s ease-in-out;
  transform: scale(0.8);
}
#main-container .pokemon-info-container {
  display: grid;
  height: 8vw;
  grid-template-areas: "top-left top-right" "bottom-left bottom-right";
  grid-template-columns: 1fr 0.25fr;
  grid-template-rows: 1fr 1fr;
  width: 100%;
  font-size: 0.8vw;
  box-shadow: none !important;
}
#main-container .poke-id {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: pokes;
  padding-left: 0.5vw;
  grid-area: top-left;
}
#main-container .pokemon-name {
  grid-area: bottom-left;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: pokes;
  padding-left: 0.5vw;
}
#main-container .poke-type-text-1 {
  padding: 0 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8vw;
}
#main-container .poke-type-text-2 {
  padding: 0 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8vw;
}

.separator {
  text-align: center;
  margin-bottom: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.separator:before, .separator:after {
  content: "";
  flex-grow: 1;
  height: 1px;
  background-color: black;
}
.separator:before {
  margin-right: 0.5em;
}
.separator:after {
  margin-left: 0.5em;
}

#button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
#button-container #pokeButton {
  border: none;
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: inherit;
}
#button-container #pokeButton img {
  width: 2.5vw;
  height: 2.5vw;
}

.poke-button {
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
}

.search-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 25vw;
  margin: 0.4375rem auto;
}
.search-wrapper .search-container {
  display: flex;
  background-color: white;
  border-radius: 1.125em;
  align-items: center;
  position: relative;
  width: 25vw;
}
.search-wrapper .search-container input[type=search] {
  width: 100%;
  box-sizing: border-box;
  border-radius: 1.125em;
  outline: none;
  border: none;
  font-size: 0.9em;
  color: #444;
  padding: 0.4em 0.8em 0.4em 2em;
}
.search-wrapper .search-container i {
  margin-left: 0.2em;
  margin-right: 0.2em;
  font-size: 1.125em;
  padding: 0.2em;
}
.search-wrapper .filter-div {
  padding: 1rem;
  display: none;
  position: absolute;
  width: 25vw;
  height: 14vw;
  background-color: rgba(255, 255, 255, 0.6);
  margin-top: 20em;
  border-radius: 1.125em;
  z-index: 999;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: filterDivPopup;
          animation-name: filterDivPopup;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  opacity: 0;
  transform: translateY();
}
.search-wrapper .filter-div .filter-div.closing {
  -webkit-animation-name: filterDivClose;
          animation-name: filterDivClose;
}
@-webkit-keyframes filterDivPopup {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes filterDivPopup {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@-webkit-keyframes filterDivClose {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(20px);
  }
}
@keyframes filterDivClose {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(20px);
  }
}
.search-wrapper .filter-div .poke-type-button {
  padding: 0.1rem 0.5rem;
  border-radius: 0.4rem;
  margin: 0.4em 0.7rem;
  border: none;
  border-color: #84818a;
  text-transform: capitalize;
}
.search-wrapper .filter-div .function-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-wrapper .filter-div .fbtn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border-color: #84818a;
  border-radius: 5em;
  height: 3em;
  max-width: 100%;
  padding: 1em 2em;
  margin-right: 1em;
}
.search-wrapper .filter-div .fbtn:hover {
  border-color: #e70e0e;
  color: #e70e0e;
}

#poke-types {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

#pokemon-not-found-container {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: poke-not-found-container;
  width: 100%;
  height: 100%;
}
#pokemon-not-found-container #noPoke {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20em;
}
#pokemon-not-found-container span {
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  font-size: 2em;
}

.poke-type-button.clicked-normal {
  background-color: #a4acaf;
}

.poke-type-button.clicked-fire {
  background-color: #fd7d24;
}

.poke-type-button.clicked-water {
  background-color: #73b3ca;
}

.poke-type-button.clicked-electric {
  background-color: #eed535;
}

.poke-type-button.clicked-grass {
  background-color: #9bcc50;
}

.poke-type-button.clicked-ice {
  background-color: #51c4e7;
}

.poke-type-button.clicked-fighting {
  background-color: #d56723;
}

.poke-type-button.clicked-poison {
  background-color: #b97fc9;
}

.poke-type-button.clicked-ground {
  background-color: linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);
  background-image: linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);
}

.poke-type-button.clicked-flying {
  background-color: linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
  background-image: linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
}

.poke-type-button.clicked-psychic {
  background-color: #f366b9;
}

.poke-type-button.clicked-bug {
  background-color: #729f3f;
}

.poke-type-button.clicked-rock {
  background-color: #a38c21;
}

.poke-type-button.clicked-ghost {
  background-color: #7b62a3;
}

.poke-type-button.clicked-dragon {
  background-color: linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
  background-image: linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
}

.poke-type-button.clicked-dark {
  background-color: #707070;
}

.poke-type-button.clicked-steel {
  background-color: #9eb7b8;
}

.poke-type-button.clicked-fairy {
  background-color: #fdb9e9;
}

.poke-type-button.clicked-unknown {
  background-color: #6c338d;
}

.poke-type-button.clicked-shadow {
  background-color: #6e4e56;
}

.poke-type-text-1.normal {
  background-color: #a4acaf;
  border-radius: 0.2rem;
}

.poke-type-text-1.fire {
  background-color: #fd7d24;
  border-radius: 0.2rem;
}

.poke-type-text-1.water {
  background-color: #73b3ca;
  border-radius: 0.2rem;
}

.poke-type-text-1.electric {
  background-color: #eed535;
  border-radius: 0.2rem;
}

.poke-type-text-1.grass {
  background-color: #9bcc50;
  border-radius: 0.2rem;
}

.poke-type-text-1.ice {
  background-color: #51c4e7;
  border-radius: 0.2rem;
}

.poke-type-text-1.fighting {
  background-color: #d56723;
  border-radius: 0.2rem;
}

.poke-type-text-1.poison {
  background-color: #b97fc9;
  border-radius: 0.2rem;
}

.poke-type-text-1.ground {
  background-color: linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);
  border-radius: 0.2rem;
  background-image: linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);
  border-radius: 0.2rem;
}

.poke-type-text-1.flying {
  background-color: linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
  border-radius: 0.2rem;
  background-image: linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
  border-radius: 0.2rem;
}

.poke-type-text-1.psychic {
  background-color: #f366b9;
  border-radius: 0.2rem;
}

.poke-type-text-1.bug {
  background-color: #729f3f;
  border-radius: 0.2rem;
}

.poke-type-text-1.rock {
  background-color: #a38c21;
  border-radius: 0.2rem;
}

.poke-type-text-1.ghost {
  background-color: #7b62a3;
  border-radius: 0.2rem;
}

.poke-type-text-1.dragon {
  background-color: linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
  border-radius: 0.2rem;
  background-image: linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
  border-radius: 0.2rem;
}

.poke-type-text-1.dark {
  background-color: #707070;
  border-radius: 0.2rem;
}

.poke-type-text-1.steel {
  background-color: #9eb7b8;
  border-radius: 0.2rem;
}

.poke-type-text-1.fairy {
  background-color: #fdb9e9;
  border-radius: 0.2rem;
}

.poke-type-text-1.unknown {
  background-color: #6c338d;
  border-radius: 0.2rem;
}

.poke-type-text-1.shadow {
  background-color: #6e4e56;
  border-radius: 0.2rem;
}

.poke-type-text-2.normal {
  background-color: #a4acaf;
  border-radius: 0.2rem;
}

.poke-type-text-2.fire {
  background-color: #fd7d24;
  border-radius: 0.2rem;
}

.poke-type-text-2.water {
  background-color: #73b3ca;
  border-radius: 0.2rem;
}

.poke-type-text-2.electric {
  background-color: #eed535;
  border-radius: 0.2rem;
}

.poke-type-text-2.grass {
  background-color: #9bcc50;
  border-radius: 0.2rem;
}

.poke-type-text-2.ice {
  background-color: #51c4e7;
  border-radius: 0.2rem;
}

.poke-type-text-2.fighting {
  background-color: #d56723;
  border-radius: 0.2rem;
}

.poke-type-text-2.poison {
  background-color: #b97fc9;
  border-radius: 0.2rem;
}

.poke-type-text-2.ground {
  background-color: linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);
  border-radius: 0.2rem;
  background-image: linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);
  border-radius: 0.2rem;
}

.poke-type-text-2.flying {
  background-color: linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
  border-radius: 0.2rem;
  background-image: linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
  border-radius: 0.2rem;
}

.poke-type-text-2.psychic {
  background-color: #f366b9;
  border-radius: 0.2rem;
}

.poke-type-text-2.bug {
  background-color: #729f3f;
  border-radius: 0.2rem;
}

.poke-type-text-2.rock {
  background-color: #a38c21;
  border-radius: 0.2rem;
}

.poke-type-text-2.ghost {
  background-color: #7b62a3;
  border-radius: 0.2rem;
}

.poke-type-text-2.dragon {
  background-color: linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
  border-radius: 0.2rem;
  background-image: linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
  border-radius: 0.2rem;
}

.poke-type-text-2.dark {
  background-color: #707070;
  border-radius: 0.2rem;
}

.poke-type-text-2.steel {
  background-color: #9eb7b8;
  border-radius: 0.2rem;
}

.poke-type-text-2.fairy {
  background-color: #fdb9e9;
  border-radius: 0.2rem;
}

.poke-type-text-2.unknown {
  background-color: #6c338d;
  border-radius: 0.2rem;
}

.poke-type-text-2.shadow {
  background-color: #6e4e56;
  border-radius: 0.2rem;
}/*# sourceMappingURL=poke.css.map */