@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: fonters;
    src: url(../fonts/PokemonHollowNormal-pyPZ.ttf);
}

@font-face {
    font-family: pokes;
    src: url("../fonts/PocketMonk.otf") format("opentype");
}

body {
    height: 100vh; 
    overflow: hidden;
    display: grid;
    align-content: space-evenly;
    background-image: linear-gradient( 109.6deg,  rgba(245,56,56,1) 11.2%, rgba(234,192,117,1) 78% );
}

span {
    font-size: 3vw;
    margin: 0.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: pokes;
}

.button-text {
    font-size: 1.5vw;
    font-family: pokes;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3.5vw;
}

/* Firefox scrollbar styles */
* {
    scrollbar-width: thin;
    scrollbar-color: #babac0 inherit;
}
        
*::-moz-scrollbar-thumb {
    background-color: #babac0;
    border-radius: 1rem;
}
        
*::-moz-scrollbar-track {
    background-color: inherit;
}

#main-container {
    display: grid;
    grid-template-areas: "1 2 poke-not-found-container 3 4";
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    max-height: 28vw;
    max-width: 80vw;
    margin: 0 auto;
    overflow-y: scroll;
    text-transform: capitalize;
    justify-content: center;
    align-items: center;

    &::-webkit-scrollbar {
        background-color: inherit;
        width: 8px;
    }

    &::-webkit-scrollbar-track {
        background-color: inherit;
    }
    
    &::-webkit-scrollbar-thumb {
        background-color: #babac0;
        border-radius: 1rem;
    }

    .pokemon-data {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        font-family: pokes;
        margin: 1vw;
        font-size: 0.8vw;
        transition: all 0.2s ease-in-out;
        height: 8vw;
        grid-column: span 1;
        grid-row: span 1;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
        border-radius: 8px; 
        &:hover {
          transform: scale(1.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
        }
      }

      .pokemon-image {
        max-width: 20rem;
        height: 6vw;
        transition: transform 0.2s ease-in-out;
        transform: scale(0.8);
      }
      
      .pokemon-info-container {
        display: grid;
        height: 8vw; 
        grid-template-areas:
        "top-left top-right"
        "bottom-left bottom-right";
        grid-template-columns: 1fr 0.25fr;
        grid-template-rows: 1fr 1fr;
        width: 100%;
        font-size: 0.8vw;
        box-shadow: none !important;
      }
    
      .poke-id {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-family: pokes;
        padding-left: 0.5vw; 
        grid-area: top-left; 
      }

      .pokemon-name {
        grid-area: bottom-left;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-family: pokes;
        padding-left: 0.5vw;
      }
    
      .poke-type-text-1 {
        padding: 0 2px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.8vw;
      }

      .poke-type-text-2 {
        padding: 0 2px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.8vw;
      }
}

.separator {
    text-align: center;
    margin-bottom: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
  
    &:before,
    &:after {
      content: "";
      flex-grow: 1;
      height: 1px;
      background-color: black;
    }
  
    &:before {
      margin-right: 0.5em;
    }
  
    &:after {
      margin-left: 0.5em;
    }
}

#button-container {
    display: flex;
    justify-content: center;
    align-items: center;

        #pokeButton {
            border: none;
            cursor: pointer;
            appearance: none;
            background-color: inherit;

        img {
            width: 2.5vw;
            height: 2.5vw;
        }   
    }
}

.poke-button {
    animation: spin 2s linear infinite;
}     

.search-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 25vw;
    margin: 0.4375rem auto;

        .search-container {
            display: flex;
            background-color: white;
            border-radius: 1.125em;
            align-items: center;
            position: relative;
            width: 25vw;

            input[type="search"]{
                width: 100%;
                box-sizing: border-box;
                border-radius: 1.125em;
                outline: none;
                border: none;
                font-size: 0.9em;
                color: #444;
                padding: 0.4em 0.8em 0.4em 2em;
            }

                i {
                    margin-left: 0.2em;
                    margin-right: 0.2em;
                    font-size: 1.125em;
                    padding: 0.2em;
        }       
    }
    .filter-div  {
        padding: 1rem;
        display: none;
        position: absolute;
        width: 25vw;
        height: 14vw;
        background-color: rgba(255, 255, 255, 0.6);
        margin-top: 20em;
        border-radius: 1.125em;
        z-index: 999;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        animation-name: filterDivPopup;
        animation-duration: 0.5s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;
        opacity: 0;
        transform: translateY();

        .filter-div.closing {
            animation-name: filterDivClose;
          }

        @keyframes filterDivPopup {
            0% {
                opacity: 0;
                transform: translateY(20px);
            }
            100% {
                opacity: 1;
                transform: translateY(0);
            }
        }

        @keyframes filterDivClose {
            0% {
              opacity: 1;
              transform: translateY(0);
            }
            100% {
              opacity: 0;
              transform: translateY(20px);
            }
          }

        .poke-type-button {
            padding: 0.1rem 0.5rem;
            border-radius: 0.4rem;
            margin: 0.4em 0.7rem;
            border: none;
            border-color: #84818a;
            text-transform: capitalize;
        }
        
        .function-buttons {
            display: flex;
            align-items: center;
            justify-content: center;
        }     
        
        .fbtn {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #ffffff;
            border-color: #84818a;
            border-radius: 5em;
            height: 3em;
            max-width: 100%;
            padding: 1em 2em;
            margin-right: 1em;
        }

        .fbtn:hover {
            border-color: #e70e0e;
            color: #e70e0e;
        }
    }
}

#poke-types {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

#pokemon-not-found-container {
    display: flex;
    justify-content: center;  
    align-items: center;
    grid-area: poke-not-found-container;
    width: 100%;
    height: 100%;

        #noPoke {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 20em;
        }

            span {
                display: flex;
                justify-content: center;
                align-items: center;
                white-space: nowrap;
                font-size: 2em;
            }
}

$types: (
    normal: #a4acaf,
    fire: #fd7d24,
    water: #73b3ca,
    electric: #eed535,
    grass: #9bcc50,
    ice: #51c4e7,
    fighting: #d56723,
    poison: #b97fc9,
    ground: linear-gradient(180deg, #f7de3f 50%, #ab9842 50%),
    flying: linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%),
    psychic: #f366b9,
    bug: #729f3f,
    rock: #a38c21,
    ghost: #7b62a3,
    dragon: linear-gradient(180deg, #53a4cf 50%, #f16e57 50%),
    dark: #707070,
    steel: #9eb7b8,
    fairy: #fdb9e9,
    unknown: #6c338d,
    shadow: #6e4e56
);  

@each $type, $color in $types {
    .poke-type-button.clicked-#{$type} {
      background-color: $color;
      @if $type == ground or $type == flying or $type == dragon {
        background-image: $color;
      }
    }
  }
  
  @each $type, $color in $types {
    .poke-type-text-1.#{$type} {
      background-color: $color;
      border-radius: 0.2rem;
      @if ($type == ground) or ($type == flying) or ($type == dragon) {
        background-image: $color;
        border-radius: 0.2rem;
      }
    }
  }

  @each $type, $color in $types {
    .poke-type-text-2.#{$type} {
      background-color: $color;
      border-radius: 0.2rem;
      @if ($type == ground) or ($type == flying) or ($type == dragon) {
        background-image: $color;
        border-radius: 0.2rem;
      }
    }
  }